@model RouteManagement.ViewModels.MemberViewModels.IndexViewModel
@using PagedList.Mvc;

<div class="panel panel-default">
    <div class="panel-heading paper-font-subhead">
        Members:
    </div>
    <div class="panel-body">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @using (Html.BeginForm("Index", "Member", FormMethod.Get, new { @class = "form-group" }))
                {
                    @Html.HiddenFor(model => model.SetupState)
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.Search, new { @class = "form-control", placeholder = "Search for..." })
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">Members Setup Status:</span>
                        @Html.EditorFor(model => model.SetupStatesDropDownList, new { @class = "form-control" })
                    </div>
                }
            </div>
            <div class="panel-body">
                <div class="list-group">
                    @for (int i = 0; i < Model.Members.Count(); i++)
                    {
                        if (Model.Members[i].SetupState == Wddc.Resources.Entities.SetupState.Complete)
                        {
                            @Html.Partial("_MemberCompleteListItem", Model.Members[i])
                        }
                        else if (Model.Members[i].SetupState == Wddc.Resources.Entities.SetupState.PendingRoutingSetup)
                        {
                            @Html.Partial("_MemberPendingRoutingListItem", Model.Members[i])
                        }
                        else if (Model.Members[i].SetupState == Wddc.Resources.Entities.SetupState.PendingShippingSetup)
                        {
                            @Html.Partial("_MemberPendingShippingListItem", Model.Members[i])
                        }
                    }
                </div>
                <div class="row">
                    <div class="col-xs-12 col-xs-offset-5">
                        <div class="btn-group">
                            <a class="btn btn-default"
                               href="@Url.Action("Index", new { startsAt = Model.PrevID })"
                               @(Model.PrevID == null ? "disabled" : "" )>
                                <i class="fa fa-arrow-left" title="Prev"></i>
                            </a>
                            <a class="btn btn-default"
                               href="@Url.Action("Index", new { startsAt = Model.NextID })"
                               @(Model.NextID == null ? "disabled" : "" )>
                                <i class="fa fa-arrow-right" title="Next"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
