<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-heading paper-font-subhead">
                Route List
            </div>
            <div class="list-group p1">
                @for (int i = 0; i < 250; i++)
                {
                    <a href="#" class="list-group-item list-group-item-action">Route: @i</a>
                }
            </div>
        </div>
    </div>
    <div class="col-xs-9">
        <div class="panel panel-default">
            <div class="panel-heading paper-font-subhead">
                <span>Route Information</span>
            </div>
            <div class="p2">
                <table class="paper-font-body1">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <route-day v-for="day in dayList" v-bind:day="day" v-bind:key="day.id">
                            </route-day>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="site" rowspan="3"><span>Site 1</span></td>
                            <td class="order-type">Regular</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                        </tr>
                        <tr>
                            <td>Pet Food</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                        </tr>
                        <tr>
                            <td>Fridge</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                        </tr>
                        <tr>
                            <td class="site" rowspan="3"><span>Site 2</span></td>
                            <td>Regular</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                        </tr>
                        <tr>
                            <td>Pet Food</</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                        </tr>
                        <tr>
                            <td>Fridge</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                            <td>@Html.Partial("_DeliveryInfoPartial")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading paper-font-subhead">
                <span>Clinic's Routes</span>
            </div>
            <div class="list-group p3">
                <a href="#" class="list-group-item list-group-item-action">1234213</a>
                <a href="#" class="list-group-item list-group-item-action">1234213</a>
                <a href="#" class="list-group-item list-group-item-action">1234213</a>
                <a href="#" class="list-group-item list-group-item-action">1234213</a>
                <a href="#" class="list-group-item list-group-item-action">1234213</a>
                <a href="#" class="list-group-item list-group-item-action">1234213</a>
                <a href="#" class="list-group-item list-group-item-action">1234213</a>
                <a href="#" class="list-group-item list-group-item-action">1234213</a>
                <a href="#" class="list-group-item list-group-item-action">1234213</a>
                <a href="#" class="list-group-item list-group-item-action">1234213</a>
                <a href="#" class="list-group-item list-group-item-action">1234213</a>
                <a href="#" class="list-group-item list-group-item-action">1234213</a>
                <a href="#" class="list-group-item list-group-item-action">1234213</a>
                <a href="#" class="list-group-item list-group-item-action">1234213</a>
                <a href="#" class="list-group-item list-group-item-action">1234213</a>
                <a href="#" class="list-group-item list-group-item-action">1234213</a>
                <a href="#" class="list-group-item list-group-item-action">1234213</a>
                <a href="#" class="list-group-item list-group-item-action">1234213</a>
                <a href="#" class="list-group-item list-group-item-action">1234213</a>
                <a href="#" class="list-group-item list-group-item-action">1234213</a>
                <a href="#" class="list-group-item list-group-item-action">1234213</a>
                <a href="#" class="list-group-item list-group-item-action">1234213</a>
                <a href="#" class="list-group-item list-group-item-action">1234213</a>
                <a href="#" class="list-group-item list-group-item-action">1234213</a>
            </div>
        </div>
    </div>
</div>
