@model Wddc.Core.Entities.EdiOrdering.Customers.Customer
<div class="list-group-item list-group-item-action">
    <div class="row">
        <div class="col-xs-4">

            <a href="@Url.Action("Edit", new { id = Model.Id })">
                <div><strong>@Html.DisplayFor(model => model.Id): @Html.DisplayFor(model => model.Information.CustomerName)</strong></div>
            </a>
            <div>
                <a href="@Url.Action("Index", "Home", new { id = Model.Route.RouteID })">
                    @Html.DisplayFor(model => model.Route.RouteNumber): @Html.DisplayFor(model => model.Route.Description)
                </a>
            </div>
        </div>
        <div class="col-xs-2">
            <div>@Html.DisplayFor(model => model.Information.City), @Html.DisplayFor(model => model.Information.State)</div>
        </div>
        <div class="col-xs-3">
            @foreach (var carrier in Model.Carrier)
            {
                <div><strong>@carrier.CARRIER_ID</strong>: @carrier.SHIPVIA</div>
            }
        </div>
        <div class="col-xs-3">
            <span class="fa-stack fa-lg">
                @if (@Model.Route.DelayedBilling == "No")
                {
                    <i class="fa fa-money fa-stack-1x" data-toggle="tooltip" data-placement="top" title="No Delayed Billing"></i>
                    <i class="fa fa-ban fa-stack-2x text-danger" data-toggle="tooltip" data-placement="top" title="No Delayed Billing"></i>
                }
                else if (@Model.Route.DelayedBilling == "Decide on Order")
                {
                    <i class="fa fa-money fa-stack-1x" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Decide Delayed Billing on Order"></i>
                    <i class="fa fa-asterisk superscript text-warning" data-toggle="tooltip" data-placement="top" title="Decide Delayed Billing on Order"></i>
                }
                else
                {
                    <i class="fa fa-money fa-stack-1x" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Has Delayed Billing"></i>
                    <i class="fa fa-square-o fa-stack-2x text-success" data-toggle="tooltip" data-placement="top" title="Has Delayed Billing"></i>
                }
            </span>
            <span class="fa-stack fa-lg">
                @if (@Model.Route.PetFood == "No")
                {
                    <i class="fa fa-cutlery fa-stack-1x" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="No Pet Food"></i>
                    <i class="fa fa-ban fa-stack-2x text-warning" data-toggle="tooltip" data-placement="top" title="No Pet Food"></i>
                }
                else if (@Model.Route.PetFood == "Decide on Order")
                {
                    <i class="fa fa-cutlery fa-stack-1x" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Decide Pet Food on Order"></i>
                    <i class="fa fa-asterisk superscript text-warning" data-toggle="tooltip" data-placement="top" title="Decide Pet Food on Order"></i>
                }
                else
                {
                    <i class="fa fa-cutlery fa-stack-1x" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Has Pet Food"></i>
                    <i class="fa fa-square-o fa-stack-2x text-success" data-toggle="tooltip" data-placement="top" title="Has Pet Food"></i>
                }
            </span>
            <span class="fa-stack fa-lg">
                @if (!@Model.Route.HasShippingCharge)
                {
                    <i class="fa fa-usd fa-stack-1x" data-toggle="tooltip" data-placement="top" title="No Shipping Charge"></i>
                    <i class="fa fa-ban fa-stack-2x text-danger" data-toggle="tooltip" data-placement="top" title="No Shipping Charge"></i>
                }
                else
                {
                    <i class="fa fa-usd fa-stack-1x" data-toggle="tooltip" data-placement="top" title="Has Shipping Charge"></i>
                    <i class="fa fa-square-o fa-stack-2x text-success" data-toggle="tooltip" data-placement="top" title="Has Shipping Charge"></i>
                }
            </span>
        </div>
    </div>
</div>