@model RouteManagement.ViewModels.CustomerViewModels.EditViewModel

@{
    ViewBag.Title = String.Format("Edit ~ #{0}: {1}", Model.CustomerId, Model.Customer.Information.CustomerName);
}

<div class="panel panel-default">
    <div class="panel-heading">
        @ViewBag.Title
    </div>
    <div class="panel-body">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Delivery Settings:
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Edit", "Customer", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(model => model.Customer)
                    @Html.HiddenFor(model => model.CustomerId)
                    @Html.HiddenFor(model => model.CustomerSettingID)

                    <div class="form-group">
                        <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.RouteDropDownList)</label>
                        <div class="col-sm-8">
                            @if (Model.CanEditCustomerSettings)
                            {
                                @Html.EditorFor(model => model.RouteDropDownList, new { @class = "form-control" })
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.RouteDropDownList, new { @class = "form-control" })
                                @Html.HiddenFor(model => model.RouteDropDownList.SelectedValue)
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">@Html.DisplayNameFor(model => model.PetFoodDropDownList)</label>
                                <div class="col-sm-6">
                                    <label>
                                        @if (Model.CanEditCustomerSettings)
                                        {
                                            @Html.EditorFor(model => model.PetFoodDropDownList, new { @class = "form-control" })
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(model => model.PetFoodDropDownList, new { @class = "form-control" })
                                            @Html.HiddenFor(model => model.PetFoodDropDownList.SelectedValue)
                                        }
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">@Html.DisplayNameFor(model => model.DelayedBillingDropDownList)</label>
                                <div class="col-sm-6">
                                    <label>
                                        @if (Model.CanEditCustomerSettings)
                                        {
                                            @Html.EditorFor(model => model.DelayedBillingDropDownList, new { @class = "form-control" })
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(model => model.DelayedBillingDropDownList, new { @class = "form-control" })
                                            @Html.HiddenFor(model => model.DelayedBillingDropDownList.SelectedValue)
                                        }
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">@Html.DisplayNameFor(model => model.PetFoodMoney)</label>
                                <div class="col-sm-6">
                                    @if (Model.CanEditCustomerSettings)
                                    {
                                        @Html.TextBoxFor(model => model.PetFoodMoney, new { @class = "form-control" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.PetFoodMoney, new { @class = "form-control", @disabled="disabled" })
                                        @Html.HiddenFor(model => model.PetFoodMoney)
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">@Html.DisplayNameFor(model => model.ShippingCharge)</label>
                                <div class="col-sm-6 checkbox">
                                    <label>
                                        @if (Model.CanEditCustomerSettings)
                                        {
                                            @Html.CheckBoxFor(model => model.ShippingCharge)
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(model => model.ShippingCharge)
                                            @Html.HiddenFor(model => model.ShippingCharge)
                                        }
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">@Html.DisplayNameFor(model => model.HasFinancialHold)</label>
                                <div class="col-sm-6 checkbox">
                                    <label>
                                        @if (Model.CanEditFinancialHold)
                                        {
                                            @Html.CheckBoxFor(model => model.HasFinancialHold)
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(model => model.HasFinancialHold)
                                            @Html.HiddenFor(model => model.HasFinancialHold)
                                        }
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    if (Model.CanEditCustomerSettings || Model.CanEditFinancialHold)
                    {
                        <div class="btn-group pull-right route-button-group">
                            <button type="submit" class="btn btn-success">Save Changes</button>
                        </div>
                    }
                }
            </div>
        </div>
        @Html.Partial("_DetailsPartial", Model)

    </div>
</div>
