@model RouteManagement.ViewModels.CustomerViewModels.IndexViewModel
@using PagedList.Mvc;
@using RouteManagement;

<div class="panel panel-default">
    <div class="panel-heading paper-font-subhead">
        Members:
    </div>
    <div class="panel-body">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @using (Html.BeginForm("Index", "Customer", FormMethod.Get, new { @class = "form-group" }))
                {
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.Search, new { @class = "form-control", placeholder = "Search for..." })
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="input-group">
                                @Html.LabelFor(model => model.AvailableSetupStateOptions)
                                @Html.NopDropDownList("SearchSetupStateId", Model.AvailableSetupStateOptions)
                            </div>
                            <br />
                        </div>
                        <div class="col-xs-9">
                            <div class="input-group">
                                @Html.LabelFor(model => model.AvailableRouteOptions)
                                @Html.NopDropDownList("SearchRouteId", Model.AvailableRouteOptions)
                            </div>
                            <br />
                        </div>
                        <div class="col-xs-3">
                            <div class="input-group">
                                @Html.LabelFor(model => model.AvailableDelayedBillingOptions)
                                @Html.NopDropDownList("SearchDelayedBillingId", Model.AvailableDelayedBillingOptions)
                            </div>
                            <br />
                        </div>
                        <div class="col-xs-3">
                            <div class="input-group">
                                @Html.LabelFor(model => model.AvailablePetFoodOptions)
                                @Html.NopDropDownList("SearchPetFoodId", Model.AvailablePetFoodOptions)
                            </div>
                            <br />
                        </div>
                        <div class="col-xs-3">
                            <div class="input-group">
                                @Html.LabelFor(model => model.AvailableShippingChargeOptions)
                                @Html.NopDropDownList("SearchShippingChargeId", Model.AvailableShippingChargeOptions)
                            </div>
                            <br />
                        </div>
                        <div class="col-xs-3">
                            <div class="input-group">
                                @Html.LabelFor(model => model.AvailableFinancialHoldOptions)
                                @Html.NopDropDownList("SearchFinancialHoldId", Model.AvailableFinancialHoldOptions)
                            </div>
                            <br />
                        </div>

                        <div class="col-xs-3">
                            <div class="input-group">
                                @Html.LabelFor(model => model.AvailableSortOptions)
                                @Html.NopDropDownList("SortId", Model.AvailableSortOptions)
                            </div>
                            <br />
                        </div>
                        <div class="col-xs-12">
                            <input type="submit" class="btn btn-success pull-right" value="Search..." />
                        </div>
                        </div>
                }
            </div>
            <div class="panel-body">
                <div class="list-group">
                    @for (int i = 0; i < Model.Customers.Count(); i++)
                    {
                        if (Model.Customers[i].SetupState == Wddc.Core.Entities.EdiOrdering.Customers.SetupState.Complete)
                        {
                            @Html.Partial("_CustomerCompleteListItem", Model.Customers[i])
                        }
                        else if (Model.Customers[i].SetupState == Wddc.Core.Entities.EdiOrdering.Customers.SetupState.PendingRoutingSetup)
                        {
                            @Html.Partial("_CustomerPendingRoutingListItem", Model.Customers[i])
                        }
                        else if (Model.Customers[i].SetupState == Wddc.Core.Entities.EdiOrdering.Customers.SetupState.PendingShippingSetup)
                        {
                            @Html.Partial("_CustomerPendingShippingListItem", Model.Customers[i])
                        }
                    }
                </div>
                <div class="row">
                    <div class="col-xs-12 col-xs-offset-4">
                        @Html.PagedListPager(Model.Customers, page => Url.Action("Index",
                            new 
                            {   Page = page,
                                Search = Model.Search,
                                SearchShippingChargeId = Model.SearchShippingChargeId,
                                SearchDelayedBillingId = Model.SearchDelayedBillingId,
                                SearchPetFoodId = Model.SearchPetFoodId,
                                SearchSetupStateId = Model.SearchSetupStateId,
                                SearchRouteId = Model.SearchRouteId,
                                SearchFinancialHoldId = Model.SearchFinancialHoldId,
                                SortId = Model.SortId,
                            }))     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
